source https://www.nuget.org/api/v2
nuget Chiron
nuget FSharp.Charting

group Tests
source https://www.nuget.org/api/v2

nuget NUnit

group Json
source https://www.nuget.org/api/v2

nuget Chiron
nuget fastJSON
nuget FsPickler.json
nuget jayrock-json
nuget jil
nuget JsonFx
nuget MongoDB.Bson
nuget NetJson
nuget Newtonsoft.json
nuget ServiceStack.Text
nuget System.Json
nuget System.Text.Json

group Binary
source https://www.nuget.org/api/v2

nuget Filbert
nuget fluorinefx
nuget fsPickler
nuget MsgPack
nuget protobuf-net

group Collections
source https://www.nuget.org/api/v2

nuget Microsoft.Bcl.Immutable