<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Filbert" version="0.2.0" targetFramework="net45" />
  <package id="fluorinefx" version="1.2.4" targetFramework="net45" />
  <package id="FsPickler" version="0.9.11" targetFramework="net45" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="MsgPack" version="0.1.0.2011042300" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
</packages>