<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="fluorinefx">
      <section name="settings" type="FluorineFx.Configuration.XmlConfigurator, FluorineFx" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <httpModules>
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <add name="FluorineGateway" type="FluorineFx.FluorineGateway, FluorineFx" />
    </modules>
  </system.webServer>
  <fluorinefx>
    <settings>
      <!--  Reflection optimizer provider="codedom|il" debug="true|false" -->
      <!-- <optimizer provider="codedom" debug="true"/> -->
      <!-- <wsdlGenerateProxyClasses>true</wsdlGenerateProxyClasses> -->
      <!-- <wsdlProxyNamespace>FluorineFx.Proxy</wsdlProxyNamespace> -->
      <!--  Time Zone Compensation ="none|auto" -->
      <!-- <timezoneCompensation>none</timezoneCompensation> -->
      <!--  Any value-type that is not explicitly initialized with a value will contain the default value for that object type -->
      <!-- <acceptNullValueTypes>false</acceptNullValueTypes> -->
      <!-- value="browse|access" -->
      <!-- <remotingServiceAttribute>browse</remotingServiceAttribute> -->
      <!--
		<classMappings>
			<classMapping>
				<type>SampleClassNet</type>
				<customClass>SampleClassAS</customClass>
			</classMapping>
		</classMappings>
		<services>
			<service>
				<name>ServiceName</name>
				<service-location>.NET Full type name</service-location>
				<methods>
					<remote-method>
						<name>MethodName</name>
						<method>.NET Method name</method>
					</remote-method>
				</methods>
			</service>
		</services>
		-->
      <!--
      <security>
        <login-command class="FluorineFxTutorial.LoginHandler" server="asp.net"/>
      </security>
-->
      <!-- 
      <cache>
        <cachedService timeout="5" slidingExpiration="false" type="FluorineFxTutorial.ServiceExample.GetImages"/>
        <cachedService timeout="5" slidingExpiration="true" type="FluorineFxTutorial.ServiceExample.Dummy"/>
      </cache>
-->
      <!--
		<importNamespaces>
			<add namespace="Namespace name to import" assembly=""/>
		</importNamespaces>
		-->
      <!--
		<nullable>
			<type name="System.Int32" value="MinValue"/>
			<type name="System.Double" value="MinValue"/>
			<type name="System.DateTime" value="MinValue"/>
			<type name="System.Guid" value="Empty"/>
		</nullable>
		-->
      <!-- <httpCompress preferredAlgorithm="deflate|gzip" compressionLevel="high|normal|low" handleRequest="all|amf|none" /> -->
      <!--
		<httpCompress preferredAlgorithm="gzip" compressionLevel="high" handleRequest="all">
		<threshold>10240</threshold>
		<excludedMimeTypes>
			<add type="image/jpeg"/>
			<add type="image/png"/>
			<add type="image/gif" />
			<add type="application/zip" />
			<add type="application/x-zip-compressed" />
			<add type="application/x-gzip-compressed" />
			<add type="application/x-compressed" />
			<add type="application/octet-stream" />
			<add type="application/pdf" />
		</excludedMimeTypes>
		<excludedPaths>
			<add path="FluorineWebResource.axd"/>
			<add path="FluorineCodeGenerator.aspx"/>
			<add path="WebResource.axd"/>
			<add path="ScriptResource.axd"/>
		</excludedPaths>
		</httpCompress>
		-->
      <!-- <application-handler>FluorineFx.Messaging.Adapter.ApplicationAdapter</application-handler> -->
      <!--
		<sharedObjectService type="FluorineFx.Messaging.Rtmp.SO.SharedObjectService">
			<persistence type="FluorineFx.Messaging.Rtmp.Persistence.FileStore"/>
		</sharedObjectService>
		-->
      <!-- <fluorineContextFactory type="FluorineFx.Context.FluorineRtmpContextFactory"/> -->
      <!--
		<rtmpServer>
			<threadpool minWorkerThreads="0" maxWorkerThreads="25" idleTimeout="60000"/>
		</rtmpServer>
		-->
    </settings>
  </fluorinefx>
</configuration>