<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Filbert" version="0.1.4617.2621" />
  <package id="fluorinefx" version="1.2.3" />
  <package id="jayrock-json" version="0.9.12915" />
  <package id="JsonFx" version="2.0.1106.2610" />
  <package id="log4net" version="1.2.10" />
  <package id="MsgPack" version="0.1.0.2011042300" />
  <package id="Newtonsoft.Json" version="4.5.7" />
  <package id="protobuf-net" version="2.0.0.480" />
  <package id="ServiceStack.Text" version="3.9.2" />
</packages>