<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Filbert" version="0.1.4617.2621" />
  <package id="fluorinefx" version="1.2.3" />
  <package id="jayrock-json" version="0.9.12915" />
  <package id="JsonFx" version="2.0.1209.2802" targetFramework="net40" />
  <package id="log4net" version="1.2.10" />
  <package id="mongocsharpdriver" version="1.6.1" targetFramework="net40" />
  <package id="MsgPack" version="0.1.0.2011042300" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="protobuf-net" version="2.0.0.602" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.28" targetFramework="net40" />
</packages>